@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
html, body,*,*::after,*::before,*:active, *:hover, *:focus {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s;
    font-family: 'Roboto Condensed', sans-serif;
    outline: none;

}

body {
    overflow-x: hidden;
}
/* Стили для верхней части header */

.header {
    margin-bottom: 30px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    font-size: 14px;
    margin-bottom: 40px;
    background: #F1EEEB;
    overflow: hidden;
    box-shadow: -200px 0 0 0 #F1EEEB,200px 0 0 0 #F1EEEB;
}



.header__phone {
    margin-right: 10px; /* Расстояние между номером телефона и текстом "Заказать обратный звонок" */
    color: #3b3b3b; /* Цвет текста "Ваш номер телефона" */
    font-weight: 700;
    margin-right: 2vw;
    text-decoration: none;
    
}
.header__phone:hover {
    color: #000000; 
}
.header__phone-description {
    color: #3b3b3b; /* Цвет текста "Заказать обратный звонок" */
    font-weight: 400;
    text-transform: uppercase;
}

.header__salons-link {
    font-weight: 400;
    color: #3b3b3b; /* Цвет текста "Салоны" */
    text-decoration: none;
    margin-right: 5vw;
}

.social {
    /* Стили для блока социальных сетей, например, выравнивание по центру и другие свойства */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-link {
    /* Стили для ссылок на социальные сети, например, размер и отступы */
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: #f0f8ff;
    margin-left: 12px;
    transition: 0.2s;
}

.social-link:hover {
    background: #868686;
}

/* Стили для нижней части header */
.header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3b3b3b; /* Цвет текста в нижней части */
    font-weight: 16px;
    font-weight: 400;
}


.header__logo{
   height: 35px;
}
.header__nav {
    flex-grow: 1; /* Занимаем все доступное пространство внутри header */
    text-align: center; /* Выравниваем текст по центру */
}

.header__nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex; /* Используем inline-flex для размещения пунктов меню в одну линию */
    justify-content: center; /* Центрируем пункты меню по горизонтали */
    align-items: center; /* Центрируем пункты меню по вертикали */
}

.header__nav-item:first-child { /* Расстояние между элементами меню */
    margin-left: 0px;
}
.header__nav-item { /* Расстояние между элементами меню */
    margin-left: 3vw;
}

.header__nav-link {
    text-transform: uppercase;
    color: inherit; /* Наследование цвета текста */
    text-decoration: none; /* Убираем подчеркивание ссылок */
    transition: 0.2s;
}

.header__nav-link:hover {
    color: #000000;
}
.header__nav-item {
    position: relative;
}

.submenu {
    padding: 20px 0 60px;
    display: none;
    position: absolute;
    list-style: none;
    top: 25px;
    left: 0;

    z-index: 1500;
    width: 100vw;
    height: 250px;
    background-color: #ffffff;

 
}
.submenu::after {
    content: '';
    position: absolute;
    top: -7px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -200;

}
.submenu::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 100%;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: -200;
}
.header__nav-item:hover .submenu {
    display: flex;
}
.submenu-item__img {
    width: 10vw;
    height: 7vw;
}
.submenu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2vw;
    color: #3b3b3bb9;
    font-size: 18px;
    text-decoration: none;
    padding: 20px ;
    
}
.submenu-item:hover {
    background-color: #e2e2e2
}
.wrapper {
    max-width: 1720px; /* Максимальная ширина общей обертки */
    margin: 0 auto; /* Центрирование содержимого */
    padding: 0 40px;
}
.video-section {
    max-height: 880px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 90px;
}
.video-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
}
.video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
/* Черный фон, чтобы скрыть пустые области */
}
.video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-placeholder {
    width: 100%;
    max-height: 84vh;
    border-radius: 16px;
    object-fit: cover;
    position: absolute;
}
.video-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35vw;
}
#myVideo {
    border-radius: 16px;
    max-height: 84vh;
}

.z50 {
    z-index: 50;
}
.z100 {
    z-index: 100;
}
.title {
    color: #3B3B3B;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
}
.title--section {
    font-size: 64px;
    max-width: 770px;
    margin-bottom: 65px;
}
.product {
    padding-bottom: 90px;
    margin-bottom: 30px;
}
.desc {
    font-size: 24px;
    font-weight: 400;
    color: #3b3b3b;
}
.desc--section{
    text-align: center;
    max-width:  990px;
    margin: 0 auto;
    color: #3b3b3b;
}

.product__wrapper {
    display: grid;
    grid-template-rows: repeat(1, minmax(220px, 360px) ,minmax(300px, 490px));
    grid-template-columns: repeat(6, 1fr);
    gap: 2vw;
}
.card-product{
    position: relative;
    grid-column: span 2;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}
.card-product:hover {
    transform: scale(1.005);
}
.card-product:nth-child(5n+4),.card-product:nth-child(5n+5){
    grid-column: span 3;
}


.card-product__title {
    top: 5%;
    left: 5%;
    font-weight: 400;
    color: #F1EEEB;
    position: absolute;
    z-index: 20;
}
.product__img {
    width: 100%;
    height: 100%;
}
.advantage{
    padding-bottom: 120px;
}
.advantage__wrapper {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
}
.advantage-item {
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.advantage-item:nth-child(2n+2){
    flex-direction: row-reverse;
} 
.subtitle {
    font-size: 48px;
    font-weight: 400;
    color: #3b3b3b;
    text-align: center;
    display: block;
}
.advantage-item__subtitle {
    margin-bottom: 40px;
}
.advantage-item__img {
    width: 56.35vw;
    max-width: 1083px;
    max-height: 740px;
    height: 38.5vw;
    border-radius: 20px;
}

.advantage-item__desc {
    text-align: center;
    max-width: 385px;
}

.advantage-item__title {
    font-size: 64px;
    font-weight: 400;
}

.advantage-item--padding {
    padding: 60px 0;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer__col {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
.footer {
    padding: 50px 0 90px;
    background: #FAFAFA;
}
.footer__title {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    margin: 0 0 24px;
}

.footer__link {
    line-height: 18px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #3b3b3b;
    margin-bottom: 14px;
}
.footer__link--phone {
    font-size: 24px;
    
}
.footer__link:hover {
    text-decoration: underline;
}

.footer__social { 
    margin-top: 55px;
    max-width: 120px;
}

@media screen and (max-width:1024px) {
    .title--section {
        font-size: 48px;
        margin-bottom: 35px;
        max-width: 670px;
    }
    .video-section {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .desc {
        font-size: 18px;
    }
    .desc--section {
        max-width: 700px;
    }
    .advantage__wrapper {
        padding-top: 60px;
    }
    .advantage-item__title {
        font-size: 48px;
    }
    .advantage-item__subtitle {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .advantage-item__desc {
        max-width: 250px;
    }
}

.burger {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    height: 20px;
    width: 30px;
    border-top: 1px solid #3B3B3B;
    border-bottom: 1px solid #3B3B3B;
}

.burger::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #3b3b3b;
    top: 50%;
    left: 0;
}

@media screen and (max-width:768px) {
    .advantage-item, .advantage-item:nth-child(2n+2) {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }

    .product__wrapper {
        display: flex;
        flex-direction: column;
    }
    .card-product {
        width: 100%;
        height: 50vw;
    }
    .advantage-item__desc {
        max-width: 90%;
        margin: 0   auto;
        margin-bottom: 20px;
    }
    .advantage-item__img {
        max-width: 100vw;
        width: 100%;
        height: 50vw;
    }
    .footer__col {
        width: 50%;
        margin-bottom: 20px;
    }
    .header {
        padding-top: 30px;
    }
    .header__nav {
        display: none;
    }
    .header__top{
        display: none;
    }
    .wrapper {
        padding: 0 10px;
    }
    .header__bottom {
        display: flex;
        align-items: center;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .burger {
        display: block;
    }
    .burger.disabled {
        opacity: 0.2;
    }
    .burger-menu {
        position: fixed;
   
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        transition: 1s, background-color 10s;
       
        z-index: 1500;
    }
    .burger-menu.active {
        background: #3b3b3bb9;
        right: 0;
    }
    .burger-menu.disabled {
        transition: 1s,background-color 0s;
        background: 0;
        right: -100%;
    }
    .nav-burger {
        position: absolute;
        top: 0;
        right: 0;
        width: 0%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 60px 20px;
        background-color: rgba(240, 248, 255, 0.911);
        z-index: 1000;
    }
    .nav-burger.active{
        width: 50%;
    }
    .nav-burger.disabled{
        width: 0%;
    }
    .burger-link {
        transition: 1s;
        width: 100%;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        color: #3b3b3b;
        padding: 15px 0;
        border-bottom:1px solid #3B3B3B;
        outline: none;
    }
    
    .close {
        position: absolute;
        top: 20px;
        right: 30px;
        width: 30px;
        height: 30px;
        z-index: 2000;
        font-size: 32px;
        color: #3B3B3B;
        font-weight: 400;
    }
    .submenu {
        position: static;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        width: 100%;
        background: transparent;
    }
    .submenu-item__img {
        width: 10vw;
        height: auto;
    }
    .submenu::after, .submenu::before {display: none;}
}

@media screen and (max-width: 425px) {
    .nav-burger.active{
        width: 100%;
    }
    
}

.filter-pop {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    cursor: pointer;
}

.filter-text {
    transition: 0.3s;
    font-size: 20px;
    color: #3b3b3b;
    margin-right: 15px;
}
.filter-text:hover {
    color: #000000;
    text-decoration: underline;
}

.filter-img {
    width: 18px;
    height: 18px;
}

.filter-popup {
    overflow: hidden;
    display: flex;
    position: fixed;
    top: 0;
    right: -100%;
    width: 30%;
    height: 100vh;
    background-color:rgba(240, 248, 255, 0.911) ;
    z-index: 1000;
    /* display: flex; */
    flex-direction: column;
    align-items: flex-end;
    transition: .3s;
    padding: 50px 20px;
}
.filter-popup.active {
    width: 20%;
    right: 0;


}
.filter-popup.disabled {
    width: 0;

    right: -100%;
}
.filter-list {
    width: 100%;
    height: 100%;
}
.closeFilter {
    position: absolute;
    top: 30px;
    right: 30px;

    background-color: transparent;
    border: none;
    font-size: 32px;
    color: #3b3b3b;
    cursor: pointer;
}

/* Страница товара */

.detail__wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.detail__slider {
    margin-right: 0.4vw;
    width: 56.146vw;
    max-height: 640px;
    overflow: hidden;
    margin-bottom: 0.62vw;
    border-radius: 10px;
    max-width: 1078px;
}

.detail__img {
    width: 100%;
    max-width: 1078px;
    object-fit: cover;
    border-radius: 10px;
}
.detail__list_img {
    width: 13vw;
    max-width: 239px;
    max-height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 0.56vw;
}
.detail__slider-list {
    max-width: 1078px;
    width: 56.146vw;
    overflow: hidden;
    max-height: 180px;
    display: flex;
    justify-content: space-between;
}
.test-red {
    height: 100vh;
    width: 100%;
    background: rgba(255, 0, 0, 0.281);
}


.detail__title {
    color: #3b3b3b;
    font-size: 40px;
    font-weight: 400;
    max-width: 516px;
}
.detail__primary-info {
    width: 100%;
    width: 516px;
}


.detail__decor, .detail__type {
    font-size: 20px;
    font-weight: 400;
    color: #3b3b3b;
    margin-bottom: 15px;
}

fieldset {
    position: absolute;
    opacity: 0;
    overflow: hidden;
}

.detail__store {
    position: relative;
    display: block;
    background: #f9f9f9;
    color: #242424;
    border: none;
    font-weight: 400;
    width: 254px;
    font-size: 16px;
    padding-left: 0;
    cursor: pointer;
    height: 70px;
    margin-bottom: 10px;
}

.detail__store:hover {
    background-color: #dddddd ;
}

.detail__store::after {
    content: '';
    position: absolute;
    transform: rotate(-45deg);
    top: 30px;
    right: 16px;
    width: 10px;
    height: 10px;
    border-right: 2px solid #242424;
    border-bottom: 2px solid #242424;
}

.detail__decor {
    display: block;
    position: relative;
    cursor: pointer;
    margin-bottom: 18px;
}

.detail__decor::after {
    content: '?';
    position: absolute;
    top: 4px;
    left: 90px;
    width: 16px;
    height: 16px;
    padding-top: 1px;
    border-radius: 100%;
    background: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
}

.detail__material-title {
    font-size: 20px;
    color: #242424;
    font-weight: 400;
    margin-bottom: 22px;
}

.detail__material-list {
    display: flex;
    margin-bottom: 55px;
}
.detail__material-img {
    width: 24px;
    height: 24px;
    border-radius: 100%;
}
.detail__material-item {
    width: 24px;
    height: 24px;
    position: relative;
    margin-right: 0.2vw;
}
.detail__material-item input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 10;
}

.detail__material-item input:checked ~ .detail__material-img{
    border: 3px solid #cac1c1;
}

.detail__material-item input:checked ~ .detail__material-text{
    display: block;
    border: 3px solid #cac1c1;
}
.detail__material-text {
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 14px;
    position: absolute;
    bottom: -40px;
    left: 0;
    font-weight: 400;
    display: none;
    padding: 4px 8px;
}

.detail__price {
    font-size: 32px;
    color: #3b3b3b;
    
}

.detail__price-info {
    display: block;
    font-size: 12px;
    color: #aaa;
    margin-bottom: 20px;
}

.detail__button {
    width: 100%;
    max-width: 220px;
    color: #3B3B3B;
    border: 1px solid #3B3B3B;
    font-size: 16px;
    background: transparent;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 16px;
}

.detail__button:hover {
    background: #3B3B3B;
    color: #fff;
    border: none;
}

.detail__manager {
    font-size: 16px;
    color: #3B3B3B;
    line-height: 21px;
    margin-bottom: 18px;
}