{% extends 'base.html' %}

{% block content %}
<main>
        <section class="back">
            <div class="wrapper">

                <a class="back__link"><img src="" alt="">Вернуться в каталог</a>
            </div>
        </section>

        <section class="detail">
            <div class="wrapper">
                <div class="detail__wrapper">

                    <div class="detail__global-img">
                        <img src="img/product/p1.jpg" alt="" class="detail__img">
                    </div>

                    <form action="$" class="detail__info">
                        <h1 class="detail__info-title">Комфорт
                        </h1>
                        <p class="detail__info-subtitle">Диван П-образный</p>
                        <p class="detail__info-price">от 313 000 р</p>
                        <p class="detail__info-price-info">Цена указана в миниманльной стоимости</p>

                        <div id="variables" class="detail__list-btn">В наличии 10 вариантов</div>
                        <div class="list" id="variableslist">
                            <div class="detail__list-item">
                                <input type="radio" name="id1" value id="">

                                <label for="id1">
                                    <img src="img/product/p1.jpg" alt="">
                                    <span>lorem lorem</span>
                                </label>
                            </div>
                            <div class="detail__list-item">
                                <input type="radio" name="" id="">
                                <label>
                                    <img src="img/product/p1.jpg" alt="">
                                    <p>lorem lorem</p>
                                </label>
                            </div>
                            <div class="detail__list-item">
                                <input type="radio" name="" id="">
                                <label>
                                    <img src="img/product/p1.jpg" alt="">
                                    <p>lorem lorem</p>
                                </label>
                            </div>
                            <div class="detail__list-item">
                                <input type="radio" name="" id="">
                                <label>
                                    <img src="img/product/p1.jpg" alt="">
                                    <p>lorem lorem</p>
                                </label>
                            </div>
                        </div>

                        <div id="material" class="detail__list-btn">материал</div>
                        <div class="list" id="materiallist">
                            <div class="detail__list-item">
                                <input type="radio" name="" id="">
                                <label>
                                    <img src="" alt="">
                                    <p>lorem lorem</p>
                                </label>
                            </div>
                            <div class="detail__list-item">
                                <input type="radio" name="" id="">
                                <label>
                                    <img src="" alt="">
                                    <p>lorem lorem</p>
                                </label>
                            </div>
                            <div class="detail__list-item">
                                <input type="radio" name="" id="">
                                <label>
                                    <img src="" alt="">
                                    <p>lorem lorem</p>
                                </label>
                            </div>
                            <div class="detail__list-item">
                                <input type="radio" name="" id="">
                                <label>
                                    <img src="" alt="">
                                    <p>lorem lorem</p>
                                </label>
                            </div>
                        </div>

                        <div id="size" class="detail__list-btn">220 cm x 220 cm x 190 cm</div>
                        <div class="list" id="sizelist">
                            <div class="detail__list-item">
                                <input type="radio" name="" id="">
                                <label>
                                    <img src="" alt="">
                                    <p>lorem lorem</p>
                                </label>
                            </div>
                            <div class="detail__list-item">
                                <input type="radio" name="" id="">
                                <label>
                                    <img src="" alt="">
                                    <p>lorem lorem</p>
                                </label>
                            </div>
                            <div class="detail__list-item">
                                <input type="radio" name="" id="">
                                <label>
                                    <img src="" alt="">
                                    <p>lorem lorem</p>
                                </label>
                            </div>
                            <div class="detail__list-item">
                                <input type="radio" name="" id="">
                                <label>
                                    <img src="" alt="">
                                    <p>lorem lorem</p>
                                </label>
                            </div>
                        </div>
                        <button class="detail__btn" type="submit">Купить в 1 клик</button>
                        <div class="detail__settings">
                            <div class="detail__settings-item"><span><b>Производитель: &nbsp;</b>I’CI</span></div>
                            <div class="detail__settings-item"><span><b>Страна: &nbsp;</b>Россия</span></div>
                            <div class="detail__settings-item"><span><b>Гарантия: &nbsp;</b>2 года</span></div>
                            <div class="detail__settings-item"><span><b>Срок поставки: &nbsp;</b>от 20 дней</span></div>
                        </div>
                    </form>
                </div>
                <div class="detail__features">
                   <h2 class="detail__feature-title">Характеристики</h2>
                   <div class="feature-list">
                             <div class="feature-list__item">
                                <span class="feature-text">Название</span>
                                <span class="feature-text">Значение</span>
                            </div>

                   </div>
                   <div class="detail__more">
                    <div class="detail__photo"><img src="img/product/p1.jpg" alt=""></div>
                    <div class="detail__photo"><img src="img/product/p1.jpg" alt=""></div>
                    <div class="detail__photo--design">
                        <div class="detail__photo__img">
                            <img src="img/product/p1.jpg" alt="">

                        </div>
                        <div class="detail__photo-col">
                            <h3 class="title detai__photo-title">Дизайн</h3>
                            <p class="desc">Касание мягкости и эстетики. Ощутите нежность каждого момента, уютно устроившись на этом чудесном диване. Мягкие подушки обнимут вас, создавая атмосферу тепла и комфорта. Откройте для себя идеальное сочетание элегантности и практичности. Легкий уход за обивкой из высококачественного материала обеспечит долгий срок службы дивана. Великолепное сочетание цветов и форм придаст вашему интерьеру неповторимый шарм. Наслаждайтесь вечерами в уютной обстановке, зная, что диван 'П' сделан для вашего уюта и удовольствия. Каждый момент на нем — это погружение в атмосферу невероятного спокойствия и гармонии. Почувствуйте истинное наслаждение сидя на диване</p>
                        </div>
                    </div>
                   </div>
                </div>
            </div>


        </section>
    </main>

{% endblock content %}