{% extends 'base.html' %}
{% load static %}
{% block content %}
 <main class="main">
    {% if content.videoImage and content.video %}
    <section class="video-section">
        <div class="wrapper">
            <div class="video-wrapper">
                <img src="{{ content.videoImage.url }}" alt="{{ content.video.url }}" class="video-placeholder">
                <video id="myVideo" loop autoplay muted>


                </video>
                <img src="{% static 'img/logow.png' %}" alt="Логотип" class="video-logo">
            </div>
        </div>
    </section>
    {% else %}
    <section class="video-section">
        <div class="wrapper">
                <img src="{% static 'img/logow.png' %}" alt="Логотип" class="video-logo">
            </div>
        </div>
    </section>
    {% endif %}
    {% if allproduct %}
    <section class="product">
       
        <h2 class="title product__title title--section">Популярные модели</h2>
        <div class="wrapper product__wrapper">
             {% for product in allproduct %}
            <a href="{% url 'detail' category_name=product.category product_name=product.title %}" class="card-product">
                <h3 class="card-product__title">{{ product.title }}</h3>
                {% if product.images.first %}
                    <img src="{{ product.images.first.image.url }}" alt="{{ product.title }}" class="product__img">
                {% endif %}
            </a>
            {% endfor %}
        </div>
    
    </section>
    {% endif %}
    {% if content.advantages.all %}
    <section class="advantage">
        <h2 class="title  title--section">ОТЛИЧНОЕ РЕШЕНИЕ ДЛЯ ВАШЕЙ КВАРТИРЫ</h2>
        <p class="desc desc--section  ">
            Ваш дом — это место, где вы создаете свои уютные уголки и осуществляете мечты о идеальном пространстве. Мы, компания с двадцатилетним опытом в индустрии мебели, гордимся тем, что можем помочь вам сделать вашу квартиру идеальным отражением вашего стиля и комфорта.
        </p>
        <div class="wrapper advantage__wrapper">
             {% for advantage in content.advantages.all %}


            <div class="advantage-item advantage-item--padding">
                <img src="{{ advantage.image.url }}" alt="{{ advantage.title }}" class="advantage-item__img">
                <div class="advantage-col">
                    <h3 class="title advantage-item__title">{{ advantage.title }}</h3>
                    <span class="subtitle advantage-item__subtitle">{{ advantage.subtitle }}</span>
                    <p class="desc advantage-item__desc">{{ advantage.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}
  </main>

{% endblock content %}