{% extends 'base.html' %}

{% block content %}
 <main class="main">
    <section class="filter">
        <div class="wrapper">
            <div class="filter-pop">
                <span class="filter-text">Фильтры</span>
                <img src="img/filter.svg" alt="" class="filter-img">
            </div>

        </div>
    </section>
    <section class="product">
        <div class="wrapper product__wrapper">
            <a href="#" class="card-product">
                <h3 class="card-product__title">Название продукта</h3>
                <img src="img/product/p1.jpg" alt="" class="product__img">
            </a>
            <a href="#" class="card-product">
                <h3 class="card-product__title">Название продукта</h3>
                <img src="img/product/p1.jpg" alt="" class="product__img">
            </a>
            <a href="#" class="card-product">
                <h3 class="card-product__title">Название продукта</h3>
                <img src="img/product/p1.jpg" alt="" class="product__img">
            </a>
            <a href="#" class="card-product">
                <h3 class="card-product__title">Название продукта</h3>
                <img src="img/product/p1.jpg" alt="" class="product__img">
            </a>
            <a href="#" class="card-product">
                <h3 class="card-product__title">Название продукта</h3>
                <img src="img/product/p1.jpg" alt="" class="product__img">
            </a>
            <a href="#" class="card-product">
                <h3 class="card-product__title">Название продукта</h3>
                <img src="img/product/p1.jpg" alt="" class="product__img">
            </a>
            <a href="#" class="card-product">
                <h3 class="card-product__title">Название продукта</h3>
                <img src="img/product/p1.jpg" alt="" class="product__img">
            </a>
            <a href="#" class="card-product">
                <h3 class="card-product__title">Название продукта</h3>
                <img src="img/product/p1.jpg" alt="" class="product__img">
            </a>
            <a href="#" class="card-product">
                <h3 class="card-product__title">Название продукта</h3>
                <img src="img/product/p1.jpg" alt="" class="product__img">
            </a>
            <a href="#" class="card-product">
                <h3 class="card-product__title">Название продукта</h3>
                <img src="img/product/p1.jpg" alt="" class="product__img">
            </a>
            <a href="#" class="card-product">
                <h3 class="card-product__title">Название продукта</h3>
                <img src="img/product/p1.jpg" alt="" class="product__img">
            </a>
            <a href="#" class="card-product">
                <h3 class="card-product__title">Название продукта</h3>
                <img src="img/product/p1.jpg" alt="" class="product__img">
            </a>
            <a href="#" class="card-product">
                <h3 class="card-product__title">Название продукта</h3>
                <img src="img/product/p1.jpg" alt="" class="product__img">
            </a>
            <a href="#" class="card-product">
                <h3 class="card-product__title">Название продукта</h3>
                <img src="img/product/p1.jpg" alt="" class="product__img">
            </a>
            <a href="#" class="card-product">
                <h3 class="card-product__title">Название продукта</h3>
                <img src="img/product/p1.jpg" alt="" class="product__img">
            </a>
        </div>
    </section>

  </main>

{% endblock content %}