{% extends 'base.html' %}

{% block content %}
 <main class="main">
    <section class="filter">
        <div class="wrapper">
            <div class="filter-pop">
                <span class="filter-text">Фильтры</span>
                <img src="img/filter.svg" alt="" class="filter-img">
            </div>

        </div>
    </section>
    <section class="product">
        <div class="wrapper product__wrapper">
            {% for product in allproduct %}
            <a href="#" class="card-product">
                <h3 class="card-product__title">{{ product.title }}</h3>
                {% if product.images.first %}
                    <img src="{{ product.images.first.image.url }}" alt="{{ product.title }}" class="product__img">
                {% endif %}



            </a>
            {% endfor %}

        </div>
    </section>

  </main>
     <div class="filter-popup">
                <button class="closeFilter ">&#10005</button>
                <div class="filret-list">

                </div>
            </div>
{% endblock content %}