@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

html,
body,
*,
*::after,
*::before,
*:active,
*:hover,
*:focus {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s;
    font-family: 'Roboto Condensed', sans-serif;
    outline: none;

}

body {
    overflow-x: hidden;
}

/* Стили для верхней части header */

.header {
    margin-bottom: 30px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    font-size: 14px;
    margin-bottom: 40px;
    background: #F1EEEB;
    overflow: hidden;
    box-shadow: -200px 0 0 0 #F1EEEB, 200px 0 0 0 #F1EEEB;
}



.header__phone {
    margin-right: 10px;
    /* Расстояние между номером телефона и текстом "Заказать обратный звонок" */
    color: #3b3b3b;
    /* Цвет текста "Ваш номер телефона" */
    font-weight: 700;
    margin-right: 2vw;
    text-decoration: none;

}

.header__phone:hover {
    color: #000000;
}

.header__phone-description {
    color: #3b3b3b;
    /* Цвет текста "Заказать обратный звонок" */
    font-weight: 400;
    text-transform: uppercase;
}

.header__salons-link {
    font-weight: 400;
    color: #3b3b3b;
    /* Цвет текста "Салоны" */
    text-decoration: none;
    margin-right: 5vw;
}

.social {
    /* Стили для блока социальных сетей, например, выравнивание по центру и другие свойства */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-link {
    /* Стили для ссылок на социальные сети, например, размер и отступы */
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: #f0f8ff;
    margin-left: 12px;
    transition: 0.2s;
}

.social-link:hover {
    background: #868686;
}

/* Стили для нижней части header */
.header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3b3b3b;
    /* Цвет текста в нижней части */
    font-weight: 16px;
    font-weight: 400;
}


.header__logo {
    height: 35px;
}

.header__nav {
    flex-grow: 1;
    /* Занимаем все доступное пространство внутри header */
    text-align: center;
    /* Выравниваем текст по центру */
}

.header__nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    /* Используем inline-flex для размещения пунктов меню в одну линию */
    justify-content: center;
    /* Центрируем пункты меню по горизонтали */
    align-items: center;
    /* Центрируем пункты меню по вертикали */
}

.header__nav-item:first-child {
    /* Расстояние между элементами меню */
    margin-left: 0px;
}

.header__nav-item {
    /* Расстояние между элементами меню */
    margin-left: 3vw;
}

.header__nav-link {
    text-transform: uppercase;
    color: inherit;
    /* Наследование цвета текста */
    text-decoration: none;
    /* Убираем подчеркивание ссылок */
    transition: 0.2s;
}

.header__nav-link:hover {
    color: #000000;
}

.header__nav-item {
    position: relative;
}

.submenu {
    padding: 20px 0 60px;
    display: none;
    position: absolute;
    list-style: none;
    top: 25px;
    left: 0;

    z-index: 1500;
    width: 100vw;
    height: 250px;
    background-color: #ffffff;


}

.submenu::after {
    content: '';
    position: absolute;
    top: -7px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -200;

}

.submenu::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 100%;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: -200;
}

.header__nav-item:hover .submenu {
    display: flex;
}

.submenu-item__img {
    width: 10vw;
    height: 7vw;
}

.submenu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2vw;
    color: #3b3b3bb9;
    font-size: 18px;
    text-decoration: none;
    padding: 20px;

}

.submenu-item:hover {
    background-color: #e2e2e2
}

.wrapper {
    max-width: 1720px;
    /* Максимальная ширина общей обертки */
    margin: 0 auto;
    /* Центрирование содержимого */
    padding: 0 40px;
    /* background: #72727248; */
}

.video-section {
    max-height: 880px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 90px;
}

.video-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
}

.video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Черный фон, чтобы скрыть пустые области */
}

.video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-placeholder {
    width: 100%;
    max-height: 84vh;
    border-radius: 16px;
    object-fit: cover;
    position: absolute;
}

.video-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35vw;
}

#myVideo {
    border-radius: 16px;
    max-height: 84vh;
}

.z50 {
    z-index: 50;
}

.z100 {
    z-index: 100;
}

.title {
    color: #3B3B3B;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
}

.title--section {
    font-size: 64px;
    max-width: 770px;
    margin-bottom: 65px;
}

.product {
    padding-bottom: 90px;
    margin-bottom: 30px;
}

.desc {
    font-size: 24px;
    font-weight: 400;
    color: #3b3b3b;
}

.desc--section {
    text-align: center;
    max-width: 990px;
    margin: 0 auto;
    color: #3b3b3b;
}

.product__wrapper {
    display: grid;
    grid-template-rows: repeat(1, minmax(220px, 360px), minmax(300px, 490px));
    grid-template-columns: repeat(6, 1fr);
    gap: 2vw;
}

.card-product {
    position: relative;
    grid-column: span 2;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.card-product:hover {
    transform: scale(1.005);
}

.card-product:nth-child(5n+4),
.card-product:nth-child(5n+5) {
    grid-column: span 3;
}


.card-product__title {
    top: 5%;
    left: 5%;
    font-weight: 400;
    color: #F1EEEB;
    position: absolute;
    z-index: 20;
}

.product__img {
    width: 100%;
    height: 100%;
}

.advantage {
    padding-bottom: 120px;
}

.advantage__wrapper {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
}

.advantage-item {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.advantage-item:nth-child(2n+2) {
    flex-direction: row-reverse;
}

.subtitle {
    font-size: 48px;
    font-weight: 400;
    color: #3b3b3b;
    text-align: center;
    display: block;
}

.advantage-item__subtitle {
    margin-bottom: 40px;
}

.advantage-item__img {

    max-width: 1083px;
    max-height: 740px;
    height: 38.5vw;
    border-radius: 20px;
}

.advantage-item__desc {
    text-align: center;
    max-width: 385px;
    word-break: break-all;
}

.advantage-item__title {
    font-size: 64px;
    font-weight: 400;
}

.advantage-item--padding {
    padding: 60px 0;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__col {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.footer {
    padding: 50px 0 90px;
    background: #FAFAFA;
}

.footer__title {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    margin: 0 0 24px;
}

.footer__link {
    line-height: 18px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #3b3b3b;
    margin-bottom: 14px;
}

.footer__link--phone {
    font-size: 24px;

}

.footer__link:hover {
    text-decoration: underline;
}

.footer__social {
    margin-top: 55px;
    max-width: 120px;
}
.burger-menu  {
    display: none;
}
@media screen and (max-width:1024px) {
    .title--section {
        font-size: 48px;
        margin-bottom: 35px;
        max-width: 670px;
    }

    .video-section {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .desc {
        font-size: 18px;
    }

    .desc--section {
        max-width: 700px;
    }

    .advantage__wrapper {
        padding-top: 60px;
    }

    .advantage-item__title {
        font-size: 48px;
    }

    .advantage-item__subtitle {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .advantage-item__desc {
        max-width: 250px;
    }
}

.burger {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    height: 20px;
    width: 30px;
    border-top: 1px solid #3B3B3B;
    border-bottom: 1px solid #3B3B3B;
}

.burger::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #3b3b3b;
    top: 50%;
    left: 0;
}

@media screen and (max-width:768px) {
    .feature-list {
        display: block;
    }
    .advantage-item,
    .advantage-item:nth-child(2n+2) {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }

    .product__wrapper {
        display: flex;
        flex-direction: column;
    }

    .card-product {
        width: 100%;
        height: 50vw;
    }

    .advantage-item__desc {
        max-width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .advantage-item__img {
        max-width: 100vw;
        width: 100%;
        height: 50vw;
    }

    .footer__col {
        width: 50%;
        margin-bottom: 20px;
    }

    .header {
        padding-top: 30px;
    }

    .header__nav {
        display: none;
    }

    .header__top {
        display: none;
    }

    .wrapper {
        padding: 0 10px;
    }

    .header__bottom {
        display: flex;
        align-items: center;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger {
        display: block;
    }

    .burger.disabled {
        opacity: 0.2;
    }

    .burger-menu {
        position: fixed;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        transition: 1s, background-color 10s;

        z-index: 1500;
    }

    .burger-menu.active {
        background: #3b3b3bb9;
        right: 0;
    }

    .burger-menu.disabled {
        transition: 1s, background-color 0s;
        background: 0;
        right: -100%;
    }

    .nav-burger {
        position: absolute;
        top: 0;
        right: 0;
        width: 0%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 60px 20px;
        background-color: rgba(240, 248, 255, 0.911);
        z-index: 1000;
    }

    .nav-burger.active {
        width: 50%;
    }

    .nav-burger.disabled {
        width: 0%;
    }

    .burger-link {
        transition: 1s;
        width: 100%;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        color: #3b3b3b;
        padding: 15px 0;
        border-bottom: 1px solid #3B3B3B;
        outline: none;
    }

    .close {
        position: absolute;
        top: 20px;
        right: 30px;
        width: 30px;
        height: 30px;
        z-index: 2000;
        font-size: 32px;
        color: #3B3B3B;
        font-weight: 400;
    }

    .submenu {
        position: static;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        width: 100%;
        background: transparent;
    }

    .submenu-item__img {
        width: 10vw;
        height: auto;
    }

    .submenu::after,
    .submenu::before {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .nav-burger.active {
        width: 100%;
    }

}

.filter-pop {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    cursor: pointer;
}

.filter-text {
    transition: 0.3s;
    font-size: 20px;
    color: #3b3b3b;
    margin-right: 15px;
}

.filter-text:hover {
    color: #000000;
    text-decoration: underline;
}

.filter-img {
    width: 18px;
    height: 18px;
}

.filter-popup {
    overflow: hidden;
    display: flex;
    position: fixed;
    top: 0;
    right: -100%;
    width: 30%;
    height: 100vh;
    background-color: rgba(240, 248, 255, 0.911);
    z-index: 1000;
    /* display: flex; */
    flex-direction: column;
    align-items: flex-end;
    transition: .3s;
    padding: 50px 20px;
}

.filter-popup.active {
    width: 20%;
    right: 0;


}

.filter-popup.disabled {
    width: 0;

    right: -100%;
}

.filter-list {
    width: 100%;
    height: 100%;
}

.closeFilter {
    position: absolute;
    top: 30px;
    right: 30px;

    background-color: transparent;
    border: none;
    font-size: 32px;
    color: #3b3b3b;
    cursor: pointer;
}

/* Страница товара */


.detail__wrapper {
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
}

.detail__global-img {
    width: 100%;
    height: 100%;
    max-width: 1222px;
    max-height: 705px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
    margin-right: 1vw;
}

.detail__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.detail__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 380px;

}

.detail__info-title {
    font-size: 40px;
    font-weight: 300;
    color: #3b3b3b;
    margin-bottom: 3px;
}

.detail__info-subtitle {
    font-size: 20px;
    color: #3b3b3b;
    font-weight: 400;
}

.detail__info-price {
    font-size: 24px;
    color: #3b3b3b;
    font-weight: 600;
    margin-bottom: 5px;
}

.detail__info-price-info {
    font-size: 14px;
    color: #aaa;
    font-weight: 400;
    margin-bottom: 10px;
}

.detail__list-btn {
    background: #ebeaea;
    width: 100%;
    height: 45px;
    text-align-last: left;
    padding: 14px 12px;
    margin-bottom: 10px;
    border: 1px solid #ebeaea;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
}

.detail__list-btn:hover {
    border: 1px solid #3B3B3B;
}

.detail__list-btn::after {
    content: '';
    position: absolute;
    top: 15px;
    right: 15px;
    width: 10px;
    height: 10px;
    border-top: 1px solid #3B3B3B;
    border-right: 1px solid #3B3B3B;
    transform: rotate(45deg);
}


.detail__btn {
    width: 100%;
    height: 50px;
    border: 1px solid #3B3B3B;
    background-color: #fff;
    color: #3b3b3b;
    border-radius: 4px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail__btn:hover {

    background-color: #3B3B3B;
    color: #fff;
}

.detail__settings {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.detail__settings-item {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 5px 0;
    font-size: 16px;
    color: #3B3B3B;
}

.detail__settings-item b {
    font-weight: 600;
    margin-bottom: 3px;
}

@media screen and (max-width: 1024px) {
    .detail__info {
        max-width: 220px;
    }

    .detail__info-title {
        font-size: 32px;
    }

    .detail__info-subtitle {
        font-size: 16px;
    }

    .detail__info-price {
        font-size: 18px;
    }

}

@media screen and (max-width: 768px) {
    .detail__wrapper {
        flex-direction: column;
    }

    .detail__global-img {
        margin-bottom: 20px;
    }

    .detail__info {
        max-width: 100%;
    }

    .detail__info-title {
        font-size: 40px;
    }

    .detail__info-price {
        font-size: 28px;
    }

}

.list {
    display: none;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 500px;
    min-height: 100vh;
    padding: 100px 30px 0;
    background: #ffffff;

}

.list.active {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px;
    gap: 30px;

}


.detail__list-item {
    margin: 5px;
    display: flex;
    width: 100%;
    position: relative;
    height: 100%;
    border-radius: 4px;
    cursor: pointer;
    z-index: 10000;
}

.detail__list-item:hover {
    transform: scale(1.01);
    cursor: pointer;
}
.detail__list-item input {
    display: none;
}
.detail__list-item a {
    font-size: 14px;
    font-weight: 400;
    color: #3b3b3b;
    text-decoration: none;
}
.detail__list-item input:checked ~  label {
    border: 1px solid rgb(159 155 155);
    box-shadow: 2px 9px 29px 2px rgba(0, 0, 0, 0.2);
}
.detail__list-item input:checked ~  label::after{
    content: '\1F5F8';
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    font-weight: 600;
    background: hsl(0, 0%, 0%);
    color: #fff;
    position: absolute;
    top: 5px;
    left: 5px;
}
.detail__list-item label:hover{
    border: 1px solid rgb(159 155 155);
    box-shadow: 2px 9px 29px 2px rgba(0, 0, 0, 0.2);
}


.detail__list-item label::after{
    content: '';
    width: 22px;
    height: 22px;
    border: 1px solid rgb(103, 103, 103);
    background: hsla(0, 0%, 0%, 0);
    position: absolute;
    top: 5px;
    left: 5px;
}

.detail__list-item label {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid rgb(159 155 155);

}

.detail__list-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.detail__list-item span {
    font-size: 14px;
}

.list-btn-close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    cursor: pointer;
    color: #3b3b3b;
    font-weight: 300;
}

.list-btn-close:hover {
    color: #525252;

}

@media screen and (max-width:520px) {
    .list.active {
        grid-auto-rows: 150px;
        grid-template-columns: 1fr;
    }

}

.detail__feature-title {

    font-size: 16px;
    color: #414141;
    font-weight: 400;
}

.feature-list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 40px;
    margin-bottom: 120px;
}

.feature-list__item {
    position: relative;
    overflow: hidden;
    grid-column: span 4;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 15px;

}

.feature-text {
    background: #ffffff;
}

.feature-list__item::after {
    content: '............................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................';
    position: absolute;
    left: 0;
    z-index: -10;
    bottom: 1%;
}

.detail__photo {

    height: 100%;
    max-width: 1355px;
    max-height: 850px;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 120px;
    
}
.detail__more {
    padding-bottom: 200px;
}

.detail__photo img {
    width: 100%;
}

.detail__photo:nth-child(2) {
    margin-left: 7vw;
}

.detail__photo--design {
    display: flex;


    height: 100%;
    max-width: 1386px;
    margin-left: 12.6vw;
    max-height: 1055px;
}

.detail__photo__img {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    overflow: hidden;
    border-radius: 20px;
    width: 100%;

    max-width: 45vw;
    max-height: 70vw;
    object-fit: cover;
}

.detail__photo-col {
    max-width: 35vw;
}
.detail__photo-col p {
    width: 100%;
    margin-left: 2vw;
}
.detai__photo-title {
    font-size: 64px;
    font-weight: 300;

    margin-bottom: 20px;
}

@media screen and (max-width:759px) {
    .detail__photo {
        margin-bottom: 40px;
    }
    .detail__photo:nth-child(2){
        margin-left: 0;
    }
    .detail__photo--design {
        margin-left: 0;
        flex-direction: column-reverse;

    }
    .detail__photo__img {
        max-width: 100%;
    }
    .detail__photo-col {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .detai__photo-title {
        font-size: 32px;
    }
}
.problem__title {
    margin-bottom: 20px;
}
.problem-item__title {
    font-size: 38px;
    font-weight: 300;
    margin: 0;
    position: relative;
    cursor: pointer;
}
.problem-item__title::after {
    cursor: pointer;
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 17px;
    left: -25px;
    transform: rotate(45deg);    
    border-right: 1px solid #2c2c2c;
    border-bottom: 1px solid #2c2c2c;
}
.problem-item.active  .problem-item__title::after {
    transform: rotate(-135deg);
}
.problem-item {
    width: 100%;
    padding: 1px 40px 5px;
    border-top: 1px solid #6d6d6d;
    border-bottom: 1px solid #6d6d6d;
    overflow: hidden;
    height: 50px;
}
.problem-item.active {
    height: auto;
    padding-bottom: 20px;
    border-top: 1px solid #6d6d6d;
    border-bottom: 1px solid #6d6d6d;
}

.problem {
    padding: 30px 0;
}

.back {
    width: 100%;
    padding: 30px 0;
}

.back__link {
    color: #3b3b3b;
    text-decoration: none;
    cursor: pointer;
}
.back__link:hover {
    color: #000;
    text-decoration: underline;
}

.article-list__item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vw;
}
.article-list__item:nth-child(2n+2){
    flex-direction: row-reverse;
}

.article__item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 940px;
    max-height: 715px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;
    height: 100%;
}
.article__info {
    height: 100%;
    max-width: 540px;
}
/* .article__item-img img {
    width: 49vw;
    max-height: 715px;
} */
.article__item-title {
    margin-top: 2vw;
    font-size: 48px;
    line-height: 140%;
    color: #3B3B3B;
    font-weight: 300;
    margin-bottom: 0.6vw;
}

.article__item-text {
    font-size: 16px;
}
.form-filter-list {
    height: 70%;
    width: 100%;
}
.form-filter-list label {
    display: flex;
    align-items: center;
}
.filter-list {
    padding: 36px 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%
}
.filter-list p {
    margin-bottom: 10px;
}
.filter-list {
    text-transform: uppercase;
}

.form-filter-list button[type="submit"] {
    width: 100%;
    height: 40px;
    border: 1px solid #3B3B3B;
    background: none;
    color: #3B3B3B;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
.form-filter-list button[type="submit"]:hover {
    border-color: #000000;
    color: #fff;
    background: #000;
}
#id_size {
    display: none;
}
.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-select select {
    display: none;
}

.custom-select .selected-option {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.custom-select .options {
    display: none;
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    background-color: white;
}

.custom-select .option {
    padding: 10px;
    cursor: pointer;
}

.custom-select .option:hover {
    background-color: #f0f0f0;
}
.custom-select::after {
    content: '';
    position: absolute;
    top: 8px;
    right: 20px;
    height: 15px;
    width: 15px;
    border-right: 1px solid #414141;
    border-bottom: 1px solid #414141;
    transform: rotate(45deg);
}

.form-people {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    z-index: 999999;
    background: #ffffff;
    padding: 30px 30px 60px;
    width: 100%;
    max-width: 450px;
    border: 3px solid #000;
    border-radius: 10px;
    max-height: 90%;

}
.form-people::before {
    border-radius: 10px;
    content: '';
    z-index: -1;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    overflow: hidden;
}
.form-people::after {
    content: '';
    z-index: -100;
    position: absolute;
    top: -200%;
    left: -200%;
    width: 1000%;
    height: 1000%;
    background: rgba(110, 110, 110, 0.514);
    overflow: hidden;
}

.form-people h2.title {
    font-weight: 500;
    margin-bottom: 30px;
}

.form-people h3.title {
    width: 100%;
    text-align: left;
    font-weight: 500;
    margin-bottom: 10px;
}
.form__wrapper {
    width: 100%;
    margin-bottom: 20px;
}
.form__inputs {
    width: 100%;
}
.form-input {
    display: flex;
    width: 100%;
}

.form-input label {
    margin-right: 10px;
    width: 30%;
}

.form-input input {
    height: 40px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    width: 100%;
    font-size: 18px;
}
.form-people span {
    display: block;
    margin-bottom: 20px;
}

.form-people textarea {
    width: 100%;
    resize: none;
    font-size: 18px;
    height: 100px;
    border: none;
    border-bottom: 1px solid #000000;
}

.form-input input::placeholder{
    font-size: 18px;
}

@media screen and (max-width:768px) {
    .feature-list {
        display: block;
    }
}