{% load static %}
 <footer class="footer">
    <div class="wrapper footer__wrapper">
        <div class="footer__col">
            <h4 class="title footer__title">Каталог</h4>
            {% for category in categories %}
                <a href="" class="footer__link">{{ category.name }}</a>
            {% endfor %}

        </div>
        <div class="footer__col">
            <h4 class="title footer__title">Покупателям</h4>
            <a href="" class="footer__link">Доставка</a>
            <a href="" class="footer__link">Оплата</a>
            <a href="" class="footer__link">Идеи для интерьера</a>
        </div>
        <div class="footer__col">
            <h4 class="title footer__title">О компании</h4>
            <a href="" class="footer__link">О нас</a>
            <a href="" class="footer__link">Бренды </a>
        </div>
        <div class="footer__col">
            <h4 class="title footer__title">Дополнительно</h4>
            <a href="" class="footer__link">Дилерам</a>
            <a href="" class="footer__link">Дизайнерам </a>

        </div>
        <div class="footer__col">
            <h4 class="title footer__title">служба поддержки</h4>
            <a href="" class="footer__link">связаться с нами</a>
            <a href="" class="footer__link">найти магазин</a>
            <a href="" class="footer__link">уход и экспуация</a>
            <a href="" class="footer__link">Кресла</a>
        </div>
        <div class="footer__col">
            <h4 class="title footer__title">Контакты</h4>
            <a href="" class="footer__link footer__link--phone">8 123 456 78 90</a>
            <a href="" class="footer__link">Сюда время работы, в которое можно
                звонить в магазин</a>
            <a href="" class="footer__link">info@mail.ru</a>
            <div class="social footer__social">
                <a href="#" class="social-link">
                    <img src="{% static 'img/social/vk.png' %}" alt="Социальные сети">
                </a>
                <a href="#" class="social-link">
                    <img src="{% static 'img/social/tg.png' %}" alt="Социальные сети">
                </a>
                <a href="#" class="social-link">
                    <img src="{% static 'img/social/pres.png' %}" alt="Социальные сети">
                </a>
            </div>
        </div>
    </div>
  </footer>
  <div class="burger-menu">
    <div class="close">&#10005</div>
  </div>
  <script src="{% static 'js/script.js' %}"></script>



