{% load static %}
<header class="header">
        <div class="wrapper header__wrapper">

            <div class="header__top">
                <div class="header__top-item">
                    <a href="tel:81234567890" class="header__phone">8 123 456 78 90</a>
                    <span class="header__phone-description">Заказать обратный звонок</span>
                </div>

                <div class="header__top-item social header__social">
                    <a href="#" class="header__salons-link">Салоны</a>
                    <a href="#" class="social-link">
                        <img src="{% static 'img/social/vk.png' %}" alt="Социальные сети">
                    </a>
                    <a href="#" class="social-link">
                        <img src="{% static 'img/social/tg.png' %}" alt="Социальные сети">
                    </a>
                    <a href="#" class="social-link">
                        <img src="{% static 'img/social/pres.png' %}" alt="Социальные сети">
                    </a>
                </div>
            </div>
            <div class="header__bottom">
                <div class="header__bottom-item logo">
                    <a href="{% url 'home' %}">
                                          <img  src="{% static 'img/logobw.png' %}" alt="Логотип" class="header__logo">
                    </a>

                </div>
                <nav class="header__nav">
                    <ul class="header__nav-list">
                    {% if categories %}
                        <li class="header__nav-item">

                            <span  class="header__nav-link">Каталог</span>
                            <ul class="submenu">
                                {% for category in categories %}
                                    <li>
                                        <a href="{% url 'store' category.name %}" class="submenu-item">
                                            {% if category.images %}
                                                <img class="submenu-item__img" src="{{ category.images.url }}" alt="">
                                            {% endif %}
                                            {{ category.name }}
                                        </a>
                                    </li>
                                {% endfor %}



                                <!-- Добавьте еще необходимые подпункты -->
                            </ul>
                        </li>
                     {% endif %}
                        <li class="header__nav-item"><a href="#2" class="header__nav-link">Покупателям</a></li>
                        <li class="header__nav-item"><a href="#3" class="header__nav-link">Блог</a></li>
                        <li class="header__nav-item"><a href="#4" class="header__nav-link">О Компании</a></li>
                        <li class="header__nav-item"><a href="#5" class="header__nav-link">Контакты</a></li>

                    </ul>
                </nav>
                <div class="burger"></div>
            </div>
        </div>
    </header>
